<div class="container">
  <div class="left">
    
<div class="profile">

  <div class="page-content page-container" id="page-content">
      <div class="padding">
          <div class="row container d-flex justify-content-center">
  <div class="col-xl-8 col-md-12">
                                                  <div class="card user-card-full">
                                                      <div class="row m-l-0 m-r-0">
                                                          <div class="col-sm-4 bg-c-lite-green user-profile">
                                                              <div class="card-block text-center text-white">
                                                                  <div class="m-b-25">
                                                                      <img src="../../../assets/img/me.jpg"  class="img-radius" alt="User-Profile-Image">
                                                                  </div>
                                                                  <h6 class="f-w-600">Michal Sládeček</h6>
                                                                  <p>Web Designer</p>
                                                                  <hr class="cara">
                                                                  <div class="navigation">
                                                                      <nav>
                                                                          <ul>
                                                                              <li class="item"><a class="s" href="ui/profile" >Profil</a></li>
                                                                              <li class="item"><a class="s" href="ui/profile/editprofile" >Edit profilu</a></li>
                                                                              <li class="item"><a class="s" href="ui/profile/liked" >Obľubené blogy</a></li>
                                                                              <li class="item"><a class="s" href="ui/profile/unread" >Nedočítané blogy</a></li>
                                                                              <li class="item"><a class="s" href="ui/profile/editor" >Nový Blog</a></li>
                                                                              <li class="item"><a class="s" href="ui/profile/public" >Verejné Blogy</a></li>
                                                                              <li class="item"><a class="s" href="ui/profile/private" >Súkromné blogy</a></li>
                                                                          </ul>
                                                                      </nav>
                                                                  </div>
                                                                  <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                                              </div>
                                                          </div>
                                                          <div class="col-sm-8">
                                                              <div class="card-block">
                                                                  <h6 class="m-b-20 p-b-5 f-w-600">Informácie o mne</h6>
                                                                  <hr class="cara">
                                                                  <div class="row">
                                                                    
                                                                      <div class="col-sm-6">
                                                                          <p class="m-b-10 f-w-600">Meno</p>
                                                                          <h6 class="text-muted f-w-400">Michal Sládeček</h6>
                                                                      </div>
                                                                      <div class="col-sm-6">
                                                                          <p class="m-b-10 f-w-600">Email</p>
                                                                          <h6 class="text-muted f-w-400">michalsladecek@gmail.com</h6>
                                                                      </div>
                                                                      <div class="col-sm-6">
                                                                       <p class="m-b-10 f-w-600">Telefón</p>
                                                                       <h6 class="text-muted f-w-400">0944 586 412</h6>
                                                                   </div>
                                                                   <div class="col-sm-6">
                                                                    <p class="m-b-10 f-w-600">Adresa</p>
                                                                    <h6 class="text-muted f-w-400">Nesluša</h6>
                                                                </div>
                                                                  
                                                                  <h6 class="blogy">Blogy</h6>
                                                                  <hr class="cara">
                                                                  <div class="row">
                                                                      <div class="col-sm-6">
                                                                          <p class="m-b-10 f-w-600">Blogy na ktorých momentálne pracujem</p>
                                                                          <h6 class="text-muted f-w-400">Univerzita v Oxforde</h6>
                                                                      </div>
                                                                      <div class="col-sm-6">
                                                                          <p class="m-b-10 f-w-600">Najčítanejší blog</p>
                                                                          <h6 class="text-muted f-w-400">Six Flags</h6>
                                                                      </div>
                                                                  </div>
                                                                 
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                               </div>
                                                  </div>
                                              </div>
</div>

<!--SKuska obrazkov-->
<div class="site-container">
  <!--Article container 1 -->
  <div class="article-container">
    <article class="article-card">
      <figure class="article-image">
        <img src="/assets/img/sixflags.jpg" alt="SixFlags"
        />
      </figure>
      <div class="article-content">
        <h6 class="kategoria1"><i class="fas fa-map pr-2"></i>Dobrodružstvo</h6>
        <h3 class="card-title">Six Flags </h3>
        <p class="card-excerpt">Six Flags Entertainment Corporation, bežnejšie známa ako Six Flags alebo Six Flags Theme Parks,
           je americká korporácia pre zábavný park so sídlom v Arlingtone v Texase. Má nehnuteľnosti v Kanade, Mexiku a Spojených štátoch.
            Six Flags vlastní najviac zábavných parkov a aquaparkov dohromady pre spoločnosť v zábavnom parku a má siedmu najvyššiu návštevnosť na svete.
            Spoločnosť prevádzkuje 27 nehnuteľností po celej Severnej Amerike vrátane zábavných parkov, zábavných parkov, vodných parkov a rodinného zábavného centra. 
            V roku 2019 hostili nehnuteľnosti Six Flags 32,8 milióna hostí.
        </p>
      </div>
    </article>
   <!--Article container 2 -->
   <div class="article-container">
    <article class="article-card">
      <figure class="article-image">
        <img src="/assets/img/oxford2.jpg" alt="Oxford"
        />
      </figure>
      <div class="article-content">
        <h6 class="kategoria2"><i class="fas fa-graduation-cap pr-2"></i>Vzdelanie</h6>
        <h3 class="card-title">Univerzita v Oxforde</h3>
        <p class="card-excerpt">University of Oxford (iné názvy: po slovensky aj Univerzita v Oxforde alebo Oxfordská univerzita, 
          neformálne: Oxford University alebo Oxford) je najstaršia britská univerzita. Prvé zmienky o vyučovaní siahajú až do roku 1096, 
          no k jej najväčšiemu rozkvetu došlo po roku 1167, kedy kráľ Henrich II. zakázal anglickým študentom navštevovať Parížsku univerzitu.
          Radí sa medzi najprestížnejšie univerzity a podľa rebríčka THE z roku 2016 je najlepšou univerzitou na svete.
          Spoločne s univerzitami v Cambridgei, University College London, London School of Economics a Imperial College London tvoria G5, 
          skupinu super-elitných univerzít vo Veľkej Británii. Oxford je tiež členom Russell Group, skupiny najprestížnejších výskumných univerzít v Spojenom kráľovstve.</p>
      </div>
    </article>
   <!--Article container 3 -->
   <div class="article-container">
    <article class="article-card">
      <figure class="article-image">
        <img src="/assets/img/koloseum.jpg" alt="Koloseum"
        />
      </figure>
      <div class="article-content">
        <h6 class="kategoria3"><i class="fas fa-fire pr-2 "></i>Kultúra</h6>
        <h3 class="card-title">Koloseum</h3>
        <p class="card-excerpt">Koloseum (po taliansky Colosseo) sú ruiny veľkého amfiteátra v strede Ríma. 
          V súčasnosti je to architektonická dominanta Ríma. Koloseum stojí na mieste umelého jazera v záhrade Neronovho Zlatého domu
           (domus aurea Neronis) na konci Forum Romanum. Pôvodne slúžil ako amfiteáter a bola to najväčšia budova v Rímskej ríši.
          Pôvodne sa nazývalo Mamlovský amfiteáter (po latinsky Amphitheatrum Flavium, v taliančine Anfiteatro Flavio) podľa dynastie, 
          z ktorej pochádzali obaja jeho stavitelia. Až neskôr sa vžil názov Koloseum, znamenajúci "obrovský" 
          (myslia sa buď obrovské rozmery samotného amfiteátra alebo rozmery obrovskej sochy Nerona, ktorá pri amfiteátri stála).
          V súčasnosti sa z Kolosea zachovali iba 2/3 pôvodnej stavby, poškodenie zapríčinili zemetrasenia alebo aj rozkrádanie materiálu. 
          Koloseum bolo označované ako ikona starovekého Ríma a rímskej architektúry. Neskôr malo veľa využití ako bývanie, dielňa, pevnosť a svätyňa.</p>
      </div>
    </article>
   <!--Article container 4 -->
   <div class="article-container">
    <article class="article-card">
      <figure class="article-image">
        <img src="/assets/img/newyork.jpg" alt="New York"
        />
      </figure>
      <div class="article-content">
        <h6 class="kategoria4"><i class="fas fa fas fa-city pr-2"></i>Mestá</h6>
        <h3 class="card-title">New York </h3>
        <p class="card-excerpt">New York je najľudnatejšie mesto USA a jeho metropolitná oblasť patrí medzi najľudnatejšie na svete. 
          Mesto bolo založené Holanďanmi v roku 1624 ako obchodné stredisko New Amsterdam (hol. Nieuw-Amsterdam – Nový Amsterdam)
          a od roku 1790 je najväčším mestom Spojených štátov. New York bol tiež prvým hlavným mestom Spojených štátov po prijatí ústavy.
          V súčasnosti je jedným zo svetových centier obchodu a finančníctva. Má ročný hrubý domáci produkt približne 500 miliárd USD, 
          čo by z neho pri pomyselnom porovnaní so štátmi sveta činilo šestnástu najväčšiu ekonomiku planéty.
          New York má aj globálny vplyv v oblasti médií, politiky, vzdelania, zábavy, umenia, módy a reklamy. 
          Je aj ohniskom medzinárodných vzťahov a diplomacie, pretože sa tu nachádza sídlo OSN.</p>
      </div>
    </article>
     <!--Article container koniec -->
  </div>

</div>
  