<app-navbar></app-navbar>
<section style="background-color: #eee;">
  <div class="container py-5">
    <app-navigation></app-navigation>

    <div class="row" *ngIf="user">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="../../../assets/img/me.jpg" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{user.email}}</h5>
            <p class="text-muted mb-1">Web designer</p>
            <p class="text-muted mb-4">{{user.address}}</p>
            <div class="d-flex justify-content-center mb-2">
              <a href="ui/profile/editprofile"><button type="button" class="btn btn-primary">Upraviť profil</button></a> 
      
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Meno a priezvisko</p>
              </div>
              <div class="col-sm-9">
                <!--   <p class = text-muted mb-0"> [innerHTML]="user.username | safeHtml"></p>  -->
                <p class="text-muted mb-0">{{user.fullname}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nickname</p>
              </div>
              <div class="col-sm-9">
                <!--   <p class = text-muted mb-0"> [innerHTML]="user.username | safeHtml"></p>  -->
                <p class="text-muted mb-0">{{user.username}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
      <!--   <p class = text-muted mb-0"> [innerHTML]="user.email | safeHtml"></p>  -->

                <p class="text-muted mb-0">{{user.email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Telefón</p>
              </div>
              <div class="col-sm-9">
   <!--   <p class = text-muted mb-0"> [innerHTML]="user.phone | safeHtml"></p>  -->
                <p class="text-muted mb-0">{{user.telephone}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Adresa</p>
              </div>
              <div class="col-sm-9">
     <!--   <p class = text-muted mb-0"> [innerHTML]="user.adress | safeHtml"></p>  -->
                <p class="text-muted mb-0">{{user.address}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4">Blog status
                </p>


               
                <hr class="cara" />
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">
                      Blogy na ktorých momentálne pracujem
                    </p>
                    <h6 class="text-muted f-w-400">
                      Univerzita v Oxforde
                    </h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Najčítanejší blog</p>
                    <h6 class="text-muted f-w-400">Six Flags</h6>
                  </div>
                </div>   
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-blogstmp></app-blogstmp>
  </div>
</section>







