<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="#">Domovská stránka</a></li>
        <li class="breadcrumb-item"><a href="ui/profile">Profil</a></li>
        <li class="breadcrumb-item"><a href="ui/profile/editprofile">Edit profilu</a></li>
        <li class="breadcrumb-item"><a href="ui/profile/liked">Obľubené blogy </a></li>
        <li class="breadcrumb-item"><a href="ui/profile/unread">Nedočítané blogy</a></li>
        <li class="breadcrumb-item"><a href="ui/profile/editor">Nový Blog</a></li>  
        <li class="breadcrumb-item"><a href="ui/profile/public">Verejné Blogy</a></li>
        <li class="breadcrumb-item"><a href="ui/profile/private">Súkromné blogy</a></li>   
      </ol>
    </nav>
  </div>
</div>