<mat-toolbar>
    <h1 class="maintitle">BlogApp</h1>
    <img class ="blogAppLogo" src="assets/img/blog-app-icon.png">

<div class="navbar">
    <ul>
        <li class="home">
            <a mat-button>Home</a>
        </li>
    
        <li class="myblogs">
            <a mat-button>MyBlogs</a>
        </li>
    
    
        <li class="colortheme">
            <a mat-button>ColorTheme</a>
        </li>
    
        <li class="account">
            <a mat-button >Account</a>
        </li>
        <li class="signin">
            <a mat-raised-button color="primary">Sign In</a>
        </li>
    </ul>
</div>
    
  </mat-toolbar>