.mat-toolbar{background-color: #d64161;

height: 70px;
margin-top: 10px;
border-radius: 40px;
flex-direction: row;
margin: 0px;
}

.maintitle {
    margin-left: 20px;
    font-family: "Forte";
    font-size: 45px;
}
.myblogs, .account, .colortheme, .home, .signin{
    background-color:#f7786b ;
    text-decoration: none;
    display:flex;
    flex-direction: row ;

}
ul {
    display: flex;
    flex-direction: row;
}
.blogAppLogo {
    width: 50px;
    margin-left: 5px;
}

.myblogs
{
    border-radius: 12px;
    margin-left: 0.5cm;

}
.account
{
    border-radius: 12px;
    flex: 1 5 right;
}
.colortheme
{
    border-radius: 12px;
    flex: 2 5 right;
    
}
.home
{
    border-radius: 12px;
    margin-left: 1cm;
    
}
.home:hover
{
    background-color: gainsboro;
}
.account:hover
{ 
    background-color: gainsboro;
}
.colortheme:hover
{
    background-color: gainsboro;
}
.myblogs:hover
{ 
    background-color: gainsboro;
}

