.mat-toolbar{background-color: #d64161;
height: 2cm;}

.myblogs, .account, .colortheme, .home{
    background-color:#f7786b ;
    text-decoration: none;
    display:flex;
    flex-direction: row ;

}
ul {
    display: flex;
    flex-direction: row;
}

.myblogs
{
    border-radius: 12px;
    margin-left: 0.5cm;

}
.account
{
    border-radius: 12px;
    margin-left:0.5cm;
}
.colortheme
{
    border-radius: 12px;
    margin-left:35cm;
    
}
.home
{
    border-radius: 12px;
    margin-left: 1cm;
    
}
.home:hover
{
    background-color: gainsboro;
}
.account:hover
{ 
    background-color: gainsboro;
}
.colortheme:hover
{
    background-color: gainsboro;
}
.myblogs:hover
{ 
    background-color: gainsboro;
}

