<div class="navbar">
    <div class="header">
        <div class="photo">
            <img src="../../../assets/img/me.jpg" alt="">
        </div>
        <div class="name">
            <h1><strong>Michal Sládeček</strong></h1>
            <p>michal.sladecek89@gmail.com</p>
        </div>
    </div>
    <div class="navigation">
        <nav>
            <ul>
                <li class="item"><a class="active" href="ui/profile" >Profil</a></li>
                <li class="item"><a class="" href="ui/profile/editprofile" >Edit profilu</a></li>
                <li class="item"><a class="" href="ui/profile/liked" >Obľubené blogy</a></li>
                <li class="item"><a class="" href="ui/profile/unread" >Nedočítané blogy</a></li>
                <li class="item"><a class="" href="ui/profile/editor" >Nový Blog</a></li>
                <li class="item"><a class="" href="ui/profile/public" >Verejné Blogy</a></li>
                <li class="item"><a class="" href="ui/profile/private" >Súkromné blogy</a></li>
            </ul>
        </nav>
    </div>
</div>