<div class="profile">
  <div class="page-content page-container" id="page-content">
    <div class="padding">
      <div class="row container d-flex justify-content-center">
        <div class="card-full">
          <div class="row m-l-0 m-r-0">
            <div class="col-sm-3 bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <div class="m-b-25">
                  <img
                    src="../../../assets/img/me.jpg"
                    class="img-radius"
                    alt="User-Profile-Image"
                  />
                </div>
                <h6 class="f-w-600">Michal Sládeček</h6>
                <p>Web Designer</p>
                <hr class="cara" />
                <div class="navigation">
                  <nav>
                    <ul>
                      <li class="item">
                        <a class="s" href="ui/profile">Profil</a>
                      </li>
                      <li class="item">
                        <a class="s" href="ui/profile/editprofile"
                          >Edit profilu</a
                        >
                      </li>
                      <li class="item">
                        <a class="s" href="ui/profile/liked">Obľubené blogy</a>
                      </li>
                      <li class="item">
                        <a class="s" href="ui/profile/unread"
                          >Nedočítané blogy</a
                        >
                      </li>
                      <li class="item">
                        <a class="s" href="ui/profile/editor">Nový Blog</a>
                      </li>
                      <li class="item">
                        <a class="s" href="ui/profile/public">Verejné Blogy</a>
                      </li>
                      <li class="item">
                        <a class="s" href="ui/profile/private"
                          >Súkromné blogy</a
                        >
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
