<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand waves-effect" [routerLink]="['/mainblog']">
      <img src="../assets/img/unknown.webp" alt="Logo">
      <span class="brand">Blogplex</span>
    </a>

    <!-- Collapse -->
    <button (click)="toggleNavbar()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div [ngClass]="{ 'show': navbarOpen }" class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="userLoggedIn$ | async as userLoggedIn">

      <!-- Left -->
      <ul class="navbar-nav mr-auto" *ngIf="adminLoggedIn$ | async as adminLoggedIn">
        <li class="nav-item">
          <a class="nav-link waves-effect" routerLink="/mainblog">Domov</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" routerLink="/contact">Kontakt</a>
        </li>
        <ng-container *ngIf="userLoggedIn.isLoggedIn">
          <li class="nav-item">
            <a class="nav-link waves-effect" routerLink="/ui/profile">Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" routerLink="/ui/profile/editor">Add Blog</a>
          </li>
        </ng-container>
          <li class="nav-item" *ngIf="adminLoggedIn.isAdmin">
            <a class="nav-link waves-effect" routerLink="/admin">Admin Panel</a>
          </li>
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item margin">
          <mat-form-field floatLabel="never">
            <input matInput placeholder="Vyhľadávanie">
          </mat-form-field>
        </li>

        <li class="nav-item">
          <a class="nav-link" *ngIf="!userLoggedIn.isLoggedIn" routerLink="/login" routerLinkActive="active">Login</a>
          <a class="nav-link" style="cursor:pointer" *ngIf="userLoggedIn.isLoggedIn" (click)="onlogout()">Logout</a>
        </li>
      </ul>

    </div>

  </div>

</nav>
<!-- Navbar -->
