<p>s</p>
<p>s</p>

<app-header></app-header>


<div class="container">
  <div class="container mt-5">


    <!--Section: Content-->
    <section class="dark-grey-text text-center">

      <!-- Section heading -->
      <h2 class="font-weight-bold mb-4 pb-2">Posledné príspevky</h2>
      <!-- Section description -->
      <p class="text-center mx-auto w-responsive mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit,
        error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a
        pariatur veniam.</p>

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-4">

          <!-- Featured image -->
          <div class="view overlay rounded z-depth-2 mb-4">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg" alt="Sample image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Category -->
          <a href="#!" class="pink-text">
            <h6 class="font-weight-bold mb-3"><i class="fas fa-map pr-2"></i>Adventure</h6>
          </a>
          <!-- Post title -->
          <h4 class="font-weight-bold mb-3"><strong>Title of the news</strong></h4>
          <!-- Post data -->
          <p>by <a class="font-weight-bold">Billy Forester</a>, 15/07/2018</p>
          <!-- Excerpt -->
          <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
            quo minus id quod maxime placeat facere possimus voluptas.</p>
          <!-- Read more button -->
          <a class="btn btn-info btn-rounded btn-md">Prečítaj si viac</a>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">

          <!-- Featured image -->
          <div class="view overlay rounded z-depth-2 mb-4">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Sample image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Category -->
          <a href="#!" class="deep-orange-text">
            <h6 class="font-weight-bold mb-3"><i class="fas fa-graduation-cap pr-2"></i>Education</h6>
          </a>
          <!-- Post title -->
          <h4 class="font-weight-bold mb-3"><strong>Title of the news</strong></h4>
          <!-- Post data -->
          <p>by <a class="font-weight-bold">Billy Forester</a>, 13/07/2018</p>
          <!-- Excerpt -->
          <p class="dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
            voluptatum deleniti atque corrupti quos dolores.</p>
          <!-- Read more button -->
          <a class="btn btn-info btn-rounded btn-md">Prečítaj si viac</a>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">

          <!-- Featured image -->
          <div class="view overlay rounded z-depth-2 mb-4">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/13.jpg" alt="Sample image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Category -->
          <a href="#!" class="blue-text">
            <h6 class="font-weight-bold mb-3"><i class="fas fa-fire pr-2"></i>Culture</h6>
          </a>
          <!-- Post title -->
          <h4 class="font-weight-bold mb-3"><strong>Title of the news</strong></h4>
          <!-- Post data -->
          <p>by <a class="font-weight-bold">Billy Forester</a>, 11/07/2018</p>
          <!-- Excerpt -->
          <p class="dark-grey-text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
            quia consequuntur magni dolores eos qui ratione.</p>
          <!-- Read more button -->
          <a class="btn btn-info btn-rounded btn-md">Prečítaj si viac</a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <!--Section: Content-->
  </div>

  <br>
  <hr>
  <br>

  <div class="row g-5">
    <div class="col-md-8">

      <article class="blog-post">
        <h2 class="blog-post-title">Sample blog post</h2>
        <p class="blog-post-meta">January 1, 2021 by <a href="#">Mark</a></p>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni non fugiat voluptatibus delectus rem ea
          nostrum consequatur esse reprehenderit, unde id. Quaerat animi reprehenderit beatae quos. Doloribus eligendi
          magnam necessitatibus?</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi iste voluptates a aspernatur ut accusantium
          voluptatem sint labore hic recusandae, debitis non expedita, maiores perspiciatis aut ullam architecto ducimus
          sequi.
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio deleniti molestias cum totam expedita neque,
          magnam accusamus voluptate voluptates quia veritatis? Minima repellat et odit nulla eligendi necessitatibus
          facere expedita.
        </p>
        <h2>Blockquotes</h2>
        <p>This is an example blockquote in action:</p>
        <blockquote class="blockquote">
          <p>Quoted text goes here.</p>
        </blockquote>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi iste voluptates a aspernatur ut accusantium
          voluptatem sint labore hic recusandae, debitis non expedita, maiores perspiciatis aut ullam architecto ducimus
          sequi.
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio deleniti molestias cum totam expedita neque,
          magnam accusamus voluptate voluptates quia veritatis? Minima repellat et odit nulla eligendi necessitatibus
          facere expedita.</p>
        <h3>Example lists</h3>
        <p>lorem</p>
        <ul>
          <li>First list item</li>
          <li>Second list item with a longer description</li>
          <li>Third list item to close it out</li>
        </ul>
        <p>And this is an ordered list:</p>
        <ol>
          <li>First list item</li>
          <li>Second list item with a longer description</li>
          <li>Third list item to close it out</li>
        </ol>
        <p>And this is a definition list:</p>
        <dl>
          <dt>HyperText Markup Language (HTML)</dt>
          <dd>The language used to describe and define the content of a Web page</dd>
          <dt>Cascading Style Sheets (CSS)</dt>
          <dd>Used to describe the appearance of Web content</dd>
          <dt>JavaScript (JS)</dt>
          <dd>The programming language used to build advanced Web sites and applications</dd>
        </dl>
        <h2>Inline HTML elements</h2>
        <p>HTML defines a long list of available inline tags, a complete list of which can be found on the <a
            href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element">Mozilla Developer Network</a>.</p>
        <p>Most of these elements are styled by browsers with few modifications on our part.</p>
        <h2>Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas odit earum laudantium, assumenda optio
          harum quibusdam excepturi consequuntur quisquam ipsum iste illo, atque autem eos ex. Tenetur dolorem quia
          nihil.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione voluptate labore recusandae quaerat mollitia
          cumque asperiores explicabo doloremque, aliquam cum necessitatibus laborum amet blanditiis consequuntur
          laudantium magni ad. Ipsa, voluptatem?
        </p>
        <h3>Sub-heading</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit harum unde molestias cumque, sapiente hic
          quia. Ad quia amet tenetur recusandae odio minima, neque nisi sapiente tempore error blanditiis facere!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat eaque, impedit optio autem veritatis
          provident minima. Ducimus veritatis voluptate fugiat itaque ipsam recusandae ullam, ad dolorem nisi,
          consequuntur odit rem!
        </p>
        <pre><code>Example code block</code></pre>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id molestiae, ea adipisci veritatis architecto
          impedit atque quia neque at, voluptas fugit cumque quam nam est asperiores, fugiat error corporis. Amet!</p>
      </article>

      <hr>

      <article class="blog-post">
        <h2 class="blog-post-title">Another blog post</h2>
        <p class="blog-post-meta">December 23, 2020 by <a href="#">Jacob</a></p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium esse eum blanditiis asperiores, maiores
          error in, dolores provident necessitatibus nobis animi cum ut! Reprehenderit commodi, corporis eum sequi
          facere repudiandae.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptate deserunt minus! Ut nobis eaque
          culpa magni aliquam fuga repellendus. Voluptate suscipit iure, illo quod enim ea! Repellendus, illo sunt.
        </p>
        <blockquote>
          <p>Longer quote goes here, maybe with some <strong>emphasized text</strong> in the middle of it.</p>
        </blockquote>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, consectetur. Beatae consequuntur, qui, id,
          ipsa ipsam aliquam reiciendis inventore minus blanditiis deserunt dicta neque. Vero corporis facere doloribus
          fugit reprehenderit.
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia distinctio enim quidem est quam fugit
          assumenda tenetur hic laboriosam dignissimos at voluptates totam ab ex, illo rem beatae optio deserunt.
        </p>
        <h3>Example table</h3>
        <p>And don't forget about tables in these posts:</p>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Upvotes</th>
              <th>Downvotes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Alice</td>
              <td>10</td>
              <td>11</td>
            </tr>
            <tr>
              <td>Bob</td>
              <td>4</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Charlie</td>
              <td>7</td>
              <td>9</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>Totals</td>
              <td>21</td>
              <td>23</td>
            </tr>
          </tfoot>
        </table>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus, molestiae nemo aspernatur voluptatem eos
          iusto quae assumenda tempora illo adipisci doloribus impedit quisquam fugiat odit labore repellat
          reprehenderit! Aut, dicta.</p>
      </article>

      <article class="blog-post">
        <h2 class="blog-post-title">New feature</h2>
        <p class="blog-post-meta">December 14, 2020 by <a href="#">Chris</a></p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque velit voluptatibus iure iste perferendis,
          eos, quasi ab culpa temporibus qui repellat odio, unde nulla nisi eum illo placeat exercitationem enim.
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur reprehenderit rerum nulla excepturi
          blanditiis maxime, voluptatum dolores culpa deserunt numquam hic praesentium facere quam itaque, voluptatibus
          eaque nihil porro doloremque.
        </p>
        <ul>
          <li>First list item</li>
          <li>Second list item with a longer description</li>
          <li>Third list item to close it out</li>
        </ul>
        <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly
          repetitive body text used throughout.</p>
      </article>

      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled">Newer</a>
      </nav>

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded background">
          <h4 class="fst-italic text-white">About</h4>
          <p class="mb-0 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, atque explicabo
            doloremque
            earum eum vitae expedita ratione aspernatur aliquam corrupti esse illum recusandae natus cum vel, dolorum
            hic reprehenderit praesentium?</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Archívy</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">Marec 2021</a></li>
            <li><a href="#">Febrár 2021</a></li>
            <li><a href="#">Január 2021</a></li>
            <li><a href="#">December 2020</a></li>
            <li><a href="#">November 2020</a></li>
            <li><a href="#">Október 2020</a></li>
            <li><a href="#">September 2020</a></li>
            <li><a href="#">August 2020</a></li>
            <li><a href="#">Júl 2020</a></li>
            <li><a href="#">Jún 2020</a></li>
            <li><a href="#">Máj 2020</a></li>
            <li><a href="#">Apríl 2020</a></li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Alebo na:</h4>
          <ol class="list-unstyled">
            <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github"
                viewBox="0 0 16 16">
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
              </svg><a href="#"> GitHub</a></li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter"
                viewBox="0 0 16 16">
                <path
                  d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
              </svg><a href="#"> Twitter</a></li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-facebook" viewBox="0 0 16 16">
                <path
                  d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
              </svg><a href="#"> Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>