<section style="background-color: #eee">
  <div class="container py-5">
    <app-navigation></app-navigation>
<form [formGroup]="userForm">
    <div class="row" *ngIf="user">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
              src="../../../assets/img/me.jpg"
              alt="avatar"
              class="rounded-circle img-fluid"
              style="width: 150px"
            />
            <h5 class="my-3">{{user.fullname}}</h5>
            <p class="text-muted mb-1">Web designer</p>
            <p class="text-muted mb-4">{{user.address}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Meno a priezvisko</p>
              </div>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  formControlName="fullname"
                
                />
               
              </div>
            </div>
            <hr />

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nickname</p>
              </div>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  formControlName="username"                  
                />
                
              </div>
            </div>
            <hr />
            <!-- <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                />
                
              </div>
            </div> -->
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Telefón</p>
              </div>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  formControlName="telephone"

                 
                />
                
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Adresa</p>
              </div>
              <div class="col-sm-9">
                <input
                  type="text"
                  formControlName="address"
                  class="form-control"

                />
                
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center mb-2">
            <button type="button" class="btn btn-primary" (click)="editUser()">
              Uložiť zmeny
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
</section>
