<div class="container">
   <div class="left">
     
 <div class="profile">
 
   <div class="page-content page-container" id="page-content">
       <div class="padding">
           <div class="row container d-flex justify-content-center">
   <div class="col-xl-8 col-md-12">
                                                   <div class="card user-card-full">
                                                       <div class="row m-l-0 m-r-0">
                                                           <div class="col-sm-4 bg-c-lite-green user-profile">
                                                               <div class="card-block text-center text-white">
                                                                   <div class="m-b-25">
                                                                       <img src="../../../assets/img/me.jpg"  class="img-radius" alt="User-Profile-Image">
                                                                   </div>
                                                                   <h6 class="f-w-600">Michal Sládeček</h6>
                                                                   <p>Web Designer</p>
                                                                   <hr class="cara">
                                                                   <div class="navigation">
                                                                       <nav>
                                                                           <ul>
                                                                               <li class="item"><a class="s" href="ui/profile" >Profil</a></li>
                                                                               <li class="item"><a class="s" href="ui/profile/editprofile" >Edit profilu</a></li>
                                                                               <li class="item"><a class="s" href="ui/profile/liked" >Obľubené blogy</a></li>
                                                                               <li class="item"><a class="s" href="ui/profile/unread" >Nedočítané blogy</a></li>
                                                                               <li class="item"><a class="s" href="ui/profile/editor" >Nový Blog</a></li>
                                                                               <li class="item"><a class="s" href="ui/profile/public" >Verejné Blogy</a></li>
                                                                               <li class="item"><a class="s" href="ui/profile/private" >Súkromné blogy</a></li>
                                                                           </ul>
                                                                       </nav>
                                                                   </div>
                                                                   <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                                               </div>
                                                           </div>
                                                           <div class="col-sm-8">
                                                               <div class="card-block">
                                                                   <h1 class="m-b-20 p-b-5 b-b-default f-w-600">Môj profil</h1>
                                                                   <!---->
                                                                   <div class="col-lg-20">
                                                                     <div class="card">
                                                                        <div class="card-body">
                                                                           <!--Meno-->
                                                                           <div class="row mb-3">
                                                                              <div class="col-sm-3">
                                                                                 <h6 class="mb-0">Meno</h6>
                                                                              </div>
                                                                              <div class="col-sm-9 text-secondary">
                                                                                 <input type="text" class="form-control" value="Michal">
                                                                              </div>
                                                                           </div>
                                                                            <!--Priezvisko-->
                                                                           <div class="row mb-3">
                                                                              <div class="col-sm-3">
                                                                                 <h6 class="mb-0">Priezvisko</h6>
                                                                              </div>
                                                                              <div class="col-sm-9 text-secondary">
                                                                                 <input type="text" class="form-control" value="Sládeček">
                                                                              </div>
                                                                           </div>
                                                                            <!--Email-->
                                                                            <div class="row mb-3">
                                                                              <div class="col-sm-3">
                                                                                 <h6 class="mb-0">Email</h6>
                                                                              </div>
                                                                              <div class="col-sm-9 text-secondary">
                                                                                 <input type="text" class="form-control" value="michalsladecek@gmail.com">
                                                                              </div>
                                                                           </div>
                                                                           <!--Telefón-->
                                                                           <div class="row mb-3">
                                                                              <div class="col-sm-3">
                                                                                 <h6 class="mb-0">Telefón</h6>
                                                                              </div>
                                                                              <div class="col-sm-9 text-secondary">
                                                                                 <input type="text" class="form-control" value="0944 258 965">
                                                                              </div>
                                                                           </div>
                                                                           <!--Adresa-->
                                                                           <div class="row mb-3">
                                                                              <div class="col-sm-3">
                                                                                 <h6 class="mb-0">Adresa</h6>
                                                                              </div>
                                                                              <div class="col-sm-9 text-secondary">
                                                                                 <input type="text" class="form-control" value="Nesluša, Kysucké Nové Mesto">
                                                                              </div>
                                                                           </div>
                                                                           <div class="row">
                                                                              <div class="col-sm-3"></div>
                                                                              <div class="col-sm-9 text-secondary">
                                                                                 <button class="btn" role="button">Uložiť zmeny</button>                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                 
                                                                   </div>                                                               </div>
                                                               
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                                </div>
                                                   </div>
                                               </div>
 </div>
 
   