<!-- contact form -->
<p>s</p>
<p>s</p>


<div class="container my-5 py-5 z-depth-1">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-5 col-md-12 mb-0 mb-md-0">

          <h3 class="font-weight-bold">Contact Us</h3>

          <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
            molestiae
            numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam, doloremque laborum.</p>

          <p><span class="font-weight-bold mr-2">Email:</span><a href="">kontakt@blogplex.sk</a></p>
          <p><span class="font-weight-bold mr-2">Phone:</span><a href="">+421 123 456 789</a></p>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-md-12 mb-4 mb-md-0">

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-md-6">

              <!-- Material outline input -->
              <div class="md-form md-outline mb-0">
                <input type="text" id="form-first-name" class="form-control">
                <label for="form-first-name">Meno</label>
              </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6">

              <!-- Material outline input -->
              <div class="md-form md-outline mb-0">
                <input type="text" id="form-last-name" class="form-control">
                <label for="form-last-name">Priezvisko</label>
              </div>

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

          <!-- Material outline input -->
          <div class="md-form md-outline mt-3">
            <input type="email" id="form-email" class="form-control">
            <label for="form-email">E-mail</label>
          </div>

          <!-- Material outline input -->
          <div class="md-form md-outline">
            <input type="text" id="form-subject" class="form-control">
            <label for="form-subject">Predmet</label>
          </div>

          <!--Material textarea-->
          <div class="md-form md-outline mb-3">
            <textarea id="form-message" class="md-textarea form-control" rows="3"></textarea>
            <label for="form-message">Ako vám môžme pomôcť?</label>
          </div>

          <button type="submit" class="btn btn-info btn-sm ml-0">Odoslať<i class="far fa-paper-plane ml-2"></i></button>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>

  <div class="container my-5 p-5 z-depth-1">

  
    <!--Section: Content-->
    <section class="text-center dark-grey-text">
      
      <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">Team</h6>
      <!-- Section heading -->
      <h3 class="font-weight-bold text-center dark-grey-text pb-2">Výkonný tím</h3>
      <hr class="w-header my-3">
      <!-- Section description -->
      <p class="text-center text-muted w-responsive mx-auto mb-5">Tento tím je zložený zo žiakov SPŠ IT KNM</p>
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col mb-4 hover">
  
          <div class="view z-depth-1 mb-4">
            <img src="https://i.imgur.com/CJ9SRQh.jpeg" class="img-fluid mx-auto " alt="smaple image">
          </div>
          <h5 class="font-weight-bold">Martin Martiniak</h5>
          <small class="text-muted">Back-end developer</small>
          <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
            <li><a href=""><i class="fab fa-twitter mx-2"></i></a></li>
            <li><a href=""><i class="fab fa-facebook-f mx-2"></i></a></li>
            <li><a href=""><i class="fab fa-instagram  mx-2"></i></a></li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col mb-4 hover">
  
          <div class="view z-depth-1 mb-4">
            <img src="https://i.imgur.com/lGfCZ1Y.jpeg" class="img-fluid mx-auto " alt="smaple image">
          </div>
          <h5 class="font-weight-bold">Michal Sládeček</h5>
          <small class="text-muted">Web designer</small>
          <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
            <li><a href=""><i class="fab fa-twitter mx-2"></i></a></li>
            <li><a href=""><i class="fab fa-facebook-f mx-2"></i></a></li>
            <li><a href=""><i class="fab fa-instagram  mx-2"></i></a></li>
          </ul>
  
        </div>
        <!-- Grid column -->
        
        <!-- Grid column -->
        <div class="col mb-4 hover">
  
          <div class="view z-depth-1 mb-4">
            <img src="https://i.imgur.com/X7AWTcL.jpeg" class="img-fluid mx-auto " alt="smaple image">
          </div>
          <h5 class="font-weight-bold">Šimon Kvašňovský</h5>
          <small class="text-muted">Front-End developer</small>
          <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
            <li><a href=""><i class="fab fa-twitter mx-2"></i></a></li>
            <li><a href=""><i class="fab fa-facebook-f mx-2"></i></a></li>
            <li><a href=""><i class="fab fa-instagram  mx-2"></i></a></li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
      
    </section>
    <!--Section: Content-->
  
  
  </div>