<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form (ngSubmit)="onSubmit()" class="sign-in-form" [formGroup]="form" #regForm="ngForm">
        <h2 class="title">Zaregistrujte sa</h2>

        <div class="input-field">
          <i class="fas fa-user"></i>
          <input
            formControlName="username"
            type="name"
            placeholder="meno"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
          />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>

        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input
            formControlName="email"
            type="email"
            name="email"
            placeholder="email@blogplex.sk"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
          />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
          </div>
        </div>

        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input
            formControlName="password"
            type="password"
            placeholder="heslo"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>

        <!-- <div class="input-field">
                <i class="fas fa-lock"></i>
                <input formControlName="confirm_password" type="password" placeholder="Heslo" />
              </div> -->

        <!-- <input type="submit" value="Register" class="btn solid" /> -->
        <div class="form-group">
          <button class="btn btn-primary"  [disabled]="!regForm.form.valid">
            <span class="spinner-border spinner-border-sm mr-1"></span>
           Registrovať sa
          </button>
        </div>

        <p class="social-text">
          Alebo sa registrujte pomocou sociálnych platform
        </p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>Už ste zaregistrovaný ?</h3>
        <p>Môžete sa prihlásiť do svojho existujúceho účtu.</p>
        <button class="btn transparent" id="sign-up-btn" routerLink="/login">
          Prihlásiť sa
        </button>
      </div>
      <img src="../../../assets/img/log.svg" class="image" alt="" />
    </div>
   
  </div>
</div>
