<div class="obrazky">
  <div class="row">
    <div class="column">
      <h2 class="bestblogs">Blog č.1</h2>
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp"
        alt="Snow"
        style="width: 100%"
      />
    </div>
    <div class="column">
      <h2 class="bestblogs">Blog č.2</h2>
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp"
        alt="Forest"
        style="width: 100%"
      />
    </div>
    <div class="column">
      <h2 class="bestblogs">Blog č.3</h2>
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp"
        alt="Mountains"
        style="width: 100%"
      />
    </div>
    <div class="column">
      <h2 class="bestblogs">Blog č.4</h2>
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp"
        alt="Hory"
        style="width: 100%"
      />
    </div>
  </div>
</div>
