<!-- <div class="container">
  <div class="col-lg-4 col-md-12 mb-4" *ngFor="let blog of blogs">
    <section class="dark-grey-text text-center">
      <div class="row">
        <figure class="snip1527" [routerLink]="['/blogs', blog .name]">
          <div class="image">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample23.jpg" alt="pr-sample23" />
          </div>
          <figcaption>
            <div class="date"><span class="day">{{blog.date}}</span></div>
            <h3>{{blog.name}}</h3>
            <p class="text" [innerHTML]="blog.content | safeHtml"></p>
          </figcaption>
          <a [routerLink]="['/blogs', blog .name]"></a>
        </figure>
      </div>

  </section>
  </div>
</div> -->

<app-navbar></app-navbar>

<div class="container justify-content-left" *ngFor="let blog of blogs">
  <div class="card">
    <div class="card__header">
      <img src="https://source.unsplash.com/600x400/?computer" [routerLink]="['/blogs', blog .title]" alt="card__image" class="card__image" width="600">
    </div>
    <div class="card__body">
      <span class="tag tag-blue">{{blog.category}}</span>
      <h4 [innerHTML]="blog.name | safeHtml"></h4>
      <p [innerHTML]="blog.content | safeHtml"></p>
    </div>
    <div class="card__footer">
      <div class="user">
        <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image">
        <div class="user__info">
          <h5>{{blog.username}}</h5>
          <small>{{blog.date}}</small>
        </div>
      </div>
    </div>
  </div>
</div>