@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

.container {
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container > div {
    margin: 6px;
    padding: 10px;
}

.content {
    padding: 15px;
    width: 600px;
    border: 3px solid black;
}

.editor {
    height: 150px;
    margin-bottom: 100px;
}
.moveup{
    margin-top:-70px;
}

.btn {
    margin-bottom: 12px;
}

