<app-navbar></app-navbar>
<section style="background-color: #eee;">
    <div class="container py-6">
        <app-navigation></app-navigation>
    
        


<div class="moveup">
    <div class="container justify-content-center text-center ">
        <form class="mt-4" [formGroup]="addBlogGroup">
    
            <div class="row gx-5 ">
                <div class="col-12">
                    <div class="form-group">
                        <label class="font-weight-bold" for="exampleInputEmail1">Name</label>
                        <input formControlName="title" name="createdTitle" type="text" [(ngModel)]="blog.title" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp" required/>
                    </div>
                </div>
    
                <div class="col-12">
                    <div class="form-group">
                        <label class="font-weight-bold" for="exampleInputEmail1">Title</label>
                        <quill-editor formControlName="name" name="name" placeholder="Enter title" [(ngModel)]="blog.name" [(ngModel)]="htmlTitle"
                            (onFocus)="focus($event)" (onBlur)="blur($event)" (onEditorCreated)="createdTitle($event)"
                            [modules]="modTitle" >
                        </quill-editor>
                    </div>
                </div>
    
                <div class="col-12">
                    <label class="font-weight-bold" for="exampleInputPassword1">Content</label>
                    <div class="form-group editor">
                        <quill-editor formControlName="content" class= "contenteditor" name="description" [(ngModel)]="blog.content" [(ngModel)]="htmlBody"
                            (onFocus)="focus($event)" (onBlur)="blur($event)" (onEditorCreated)="created($event)"
                            [modules]="modules">
                        </quill-editor>
                    </div>
                </div>
            
                <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                        <label class="font-weight-bold" for="exampleInputPassword1">Author</label>
                        <input formControlName="author" type="text" name="author" required minlength="4" [(ngModel)]="blog.author" class="form-control"
                            id="exampleInputPassword1" placeholder="Meno Priezvisko" required>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                        <label class="font-weight-bold" for="exampleInputPassword1">Titúlny obrzok</label>
                        <input formControlName="image" type="file" name="author" required minlength="4" class="form-control"
                            id="exampleInputPassword1" placeholder="obrazok" required multiple accept="image/*" (change)="onFileChange($event)">
                    </div>
                </div>
            
                <div class="col-lg-4 col-md-6">
                    <label for="exampleInputPassword1">Kategória</label>
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                            <mat-label class="font-weight-bold">Kategória</mat-label>
                            <mat-select [(ngModel)]="blog.category" name="category" required formControlName="category">
                                <mat-option *ngFor="let category of categories" [value]="category.value">
                                    {{category.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            
                <!-- <div class="col-lg-4 col-md-6">
                    <label for="exampleInputPassword1">Date</label>
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                            <mat-label class="font-weight-bold">Zadajte dátum</mat-label>
                            <input name="description" matInput [(ngModel)]="blog.date" [matDatepicker]="picker" required formControlName="date">
                            <mat-hint>mesiac.deň.rok</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div> -->
                 
            </div>
    
            <button (click)="addBlog()" type="button" class="btn btn-primary">Pridať</button>
    
        </form>
    </div>
    
</div>
