<app-navbar></app-navbar>
<app-header></app-header>

<button class="btnHearth"><mat-icon svgIcon="hearth"></mat-icon>
</button>


<div class="container">
  <div class="container mt-5">


    <!--Section: Content-->
    <section class="dark-grey-text text-center">


      <!-- Section heading -->
      <h2 class="font-weight-bold mb-4 pb-2">Posledné príspevky</h2>
      <!-- Section description -->
      <p class="text-center mx-auto w-responsive mb-5">Na našej stránke nájdeš mnoho blogov, ktoré si môžeš prečítať. Pozri si napríklad posledné príspevky</p>

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div *ngFor="let blog of blogs" class="col-lg-4 col-md-12 mb-4">

          <a href="#" [routerLink]="['/blog', blog .title]" >
          <!-- Featured image -->
          <div class="view overlay rounded z-depth-2 mb-4">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg" alt="Sample image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Category -->
          <a href="#!" class="pink-text">
            <h5 class="font-weight-bold mb-3" [innerHTML]="blog.category | safeHtml"></h5>
          </a>
          <!-- Post title -->
          <h4 class="font-weight-bold mb-3"><strong [innerHTML]="blog.name | safeHtml"></strong></h4>
          <!-- Post data -->
          <p>by <a class="font-weight-bold">{{blog.author}}</a>, {{blog.date | date:'dd-MM-YYYY'}}</p> 
      
          <p class="dark-grey-text text" [innerHTML]="blog.content | safeHtml" ng-maxlength="20"></p>
          <!-- Read more button -->
          <a class="btn btn-info btn-rounded btn-md">Prečítaj si viac</a>
          
        </a>
        </div>
        <!-- Grid column -->

        
      </div>
      <!-- Grid row -->

    </section>
    <!--Section: Content-->
  </div>
</div>