<app-navbar></app-navbar>
<app-header></app-header>

<!-- <button class="btnHearth" id="btn" [style.color]="toggle ? 'white' : ''" (click)="btnHearthClicked()"><img id="hearth" src="https://img.icons8.com/material-rounded/24/null/like--v1.png"/> </button>

<div class="container" style="margin-top: 150px; margin-bottom: 30px">
  <div class="row">
    <div class="col-md-8"></div>
    <div
      class="col-md-4 col-lg-4 col-xxl-4"
      style="
        border-style: solid;
        border-radius: 11px;
        width: 311.987px;
        padding: 24px;
      "
    >
      <h1 style="width: 294.188px; font-weight: bold; font-size: 27px">
        Najnovsie blogy
      </h1>
      <div class="row d-flex d-lg-flex flex-column">
        <div class="col-sm-6 col-md-4" style="width: 307.062px">
          <div class="box">
            <img src="assets/img/img-1.jpg" alt="Desmond" />
            <div class="box-heading">
              <h4 class="title" style="color: #333333">Desmond</h4>
              <span class="post" style="color: #333333">web designer</span>
            </div>
            <div class="boxContent">
              <p class="description" style="color: #333333">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                vitae libero orci. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nunc sed vestibulum.
              </p>
              <a class="read" href="#"
                >Read more<i class="fa fa-angle-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <h2>TechBlogy</h2>
    <div class="row">
      <div
        class="col-lg-4 col-md-12 mb-4"
        *ngFor="let blog of techBlogs.slice(0, 3)"
      >
        <div class="card mb-4 box-shadow rounded-0">
          <img
            class="card-img-top w-100 d-block rounded-0"
            src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg"
          />
          <div class="card-body">
            <h4 class="card-title" [innerHTML]="blog.name | safeHtml"></h4>
            <h6 class="text-muted card-subtitle mb-2">{{ blog.author }}</h6>
            <p
              class="dark-grey-text text"
              [innerHTML]="blog.content | safeHtml"
              ng-maxlength="20"
            ></p>
            <p class="card-text"></p>
            <a class="card-link" [routerLink]="['/blog', blog.id]">Link</a>
            <p>{{ blog.category }}</p>
            <button
              (click)="btnClicked(blog)"
              [ngClass]="{ white: blog.liked, blue2: !blog.liked }"
              class="likedBtn"
              id="btn"
            >
              <span id="likeIcon"><i class="fas fa-thumbs-up"></i></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>Zdravie Blogy</h2>
    <div class="row">
      <div
        class="col-lg-4 col-md-12 mb-4"
        *ngFor="let blog of zdravieBlogs.slice(0, 3)"
      >
        <div class="card mb-4 box-shadow rounded-0">
          <img
            class="card-img-top w-100 d-block rounded-0"
            src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg"
          />
          <div class="card-body">
            <h4 class="card-title" [innerHTML]="blog.name | safeHtml"></h4>
            <h6 class="text-muted card-subtitle mb-2">{{ blog.author }}</h6>
            <p
              class="dark-grey-text text"
              [innerHTML]="blog.content | safeHtml"
              ng-maxlength="20"
            ></p>
            <p class="card-text"></p>
            <a class="card-link" [routerLink]="['/blog', blog.id]">Link</a>
            <p>{{ blog.category }}</p>
            <button
              (click)="btnClicked(blog)"
              [ngClass]="{ white: blog.liked, blue2: !blog.liked }"
              class="likedBtn"
              id="btn"
            >
              <span id="likeIcon"><i class="fas fa-thumbs-up"></i></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>Kultura Blogy</h2>
    <div class="row">
      <div
        class="col-lg-4 col-md-12 mb-4"
        *ngFor="let blog of kulturaBlogs.slice(0, 3)"
      >
        <div class="card mb-4 box-shadow rounded-0">
          <img
            class="card-img-top w-100 d-block rounded-0"
            src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg"
          />
          <div class="card-body">
            <h4 class="card-title" [innerHTML]="blog.name | safeHtml"></h4>
            <h6 class="text-muted card-subtitle mb-2">{{ blog.author }}</h6>
            <p
              class="dark-grey-text text"
              [innerHTML]="blog.content | safeHtml"
              ng-maxlength="20"
            ></p>
            <p class="card-text"></p>
            <a class="card-link" [routerLink]="['/blog', blog.id]">Link</a>
            <p>{{ blog.category }}</p>
            <button
              (click)="btnClicked(blog)"
              [ngClass]="{ white: blog.liked, blue2: !blog.liked }"
              class="likedBtn"
              id="btn"
            >
              <span id="likeIcon"><i class="fas fa-thumbs-up"></i></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container"></div> -->

<link
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

<nav class="navbar navbar-light navbar-expand-lg navigation-clean under_nav" style="font-size: 16px;margin-bottom: -15px;">
  <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav d-flex mx-auto">
            <li class="nav-item"><a class="nav-link linkerino" href="#">Príroda</a></li>
            <li class="nav-item"><a class="nav-link linkerino" href="#">Tech</a></li>
            <li class="nav-item"><a class="nav-link linkerino" href="#">Kultúra</a></li>
            <li class="nav-item"><a class="nav-link linkerino" href="#">Politika</a></li>
            <li class="nav-item"><a class="nav-link linkerino" href="#">Zdravie</a></li>
            <li class="nav-item"><a class="nav-link linkerino" href="#">Svetadiel</a></li>
          </ul>
      </div>
  </div>
</nav>

<hr class="under_nav">

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-8 col-lg-8">
      <div class="row">

        <div *ngIf="searchTerm?.length !== 0  ">
          <h1 class="noBlogs">Nenašli sa žiadne blogy.</h1>
        </div>
       
        <div
          class="col-xs-12 col-sm-12 col-md-6 col-lg-6"
          
         
          *ngFor="let blog of blogs | searchFilter:searchTerm"
        >
       
       
          <div class="card mb-2">
            <img [src]="'data:image/jpg;base64,' + blog.image" [alt]="'Blog image'" class="card-img-top img-thumbnail"/>
            <div class="card-body">
              <h4 class="card-title" [innerHTML]="blog.name | safeHtml"></h4>
              <p
                class="card-text text"
                [innerHTML]="blog.content | safeHtml"
              ></p>
             
              <button class="btn btn-primary" type="button" [routerLink]="['/blog', blog.id]">
                Čítať viac...
              </button>
              
              <button
              (click)="btnClicked(blog)"
              [ngClass]="{ white: blog.liked, white2: !blog.liked }"
              class="likedBtn"
              id="btn">
              <span id="likeIcon"><i class="fas fa-thumbs-up"></i></span>
            </button>

            </div>
            <div class="card-footer text-muted">
              Zverejnené {{ blog.date | date : "dd. MM. YYYY" }}
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <div class="col col-lg-4">
      <div class="card mb-4">
        <div class="card-header">
          <h5>Search</h5>
        </div>
        <div class="card-body">
          <div class="input-group">
              <div class="nav-item margin">

                <input matInput [(ngModel)]= "searchTerm" placeholder="Vyhľadávanie podľa názvu">
            </div> 
      </div>  


         
            
          </div>
        </div>
  
      <div class="card md-4">
        <div class="card-header">
          <h5>Categories</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <ul class="list-unstyled">
                <li><a href="#">Web Design</a></li>
                <li><a href="#">HTML</a></li>
                <li><a href="#">Bootstrap</a></li>
              </ul>
            </div>
            <div class="col">
              <ul class="list-unstyled">
                <li><a href="#">Javascript</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">Format</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-header">
          <h5>Sledujte nás</h5>
        </div>
        <div class="card-body">
          <ul>
            <p>
              <a title="Facebook" href=""
                ><span class="fa-stack fa-lg"
                  ><i class="fa fa-square-o fa-stack-2x"></i
                  ><i class="fa fa-facebook fa-stack-1x"></i></span
              ></a>
              <a title="Twitter" href=""
                ><span class="fa-stack fa-lg"
                  ><i class="fa fa-square-o fa-stack-2x"></i
                  ><i class="fa fa-twitter fa-stack-1x"></i></span
              ></a>
              <a title="Google+" href=""
                ><span class="fa-stack fa-lg"
                  ><i class="fa fa-square-o fa-stack-2x"></i
                  ><i class="fa fa-google-plus fa-stack-1x"></i></span
              ></a>
              <a title="Linkedin" href=""
                ><span class="fa-stack fa-lg"
                  ><i class="fa fa-square-o fa-stack-2x"></i
                  ><i class="fa fa-linkedin fa-stack-1x"></i></span
              ></a>
              <a title="GitHub" href=""
                ><span class="fa-stack fa-lg"
                  ><i class="fa fa-square-o fa-stack-2x"></i
                  ><i class="fa fa-github fa-stack-1x"></i></span
              ></a>
              <a title="Bitbucket" href=""
                ><span class="fa-stack fa-lg"
                  ><i class="fa fa-square-o fa-stack-2x"></i
                  ><i class="fa fa-bitbucket fa-stack-1x"></i></span
              ></a>
            </p>
          </ul>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-header">
          <h5>Kalendár</h5>
        </div>
        <div class="card-body">
          <mat-calendar [selected]="selectedDate" (selectedChange)="onSelect($event)"></mat-calendar>
        </div>
      </div>
    </div>
  </div>


<div class="container" style="margin-top: 150px; margin-bottom: 30px">
    <div class="row">
      
  </div>
<!--  <section>-->
<!--    <div class="container">-->
<!--      <h2>TechBlogy</h2>-->
<!--      <div class="row">-->
<!--        <div-->
<!--          class="col-lg-4 col-md-12 mb-4"-->
<!--          *ngFor="let blog of techBlogs.slice(0, 3)"-->
<!--        >-->
<!--          <div class="card mb-4 box-shadow rounded-0">-->
<!--            <img-->
<!--              class="card-img-top w-100 d-block rounded-0"-->
<!--              src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg"-->
<!--            />-->
<!--            <div class="card-body">-->
<!--              <h4 class="card-title" [innerHTML]="blog.name | safeHtml"></h4>-->
<!--              <h6 class="text-muted card-subtitle mb-2">{{ blog.author }}</h6>-->
<!--              <p-->
<!--                class="dark-grey-text text"-->
<!--                [innerHTML]="blog.content | safeHtml"-->
<!--                ng-maxlength="20"-->
<!--              ></p>-->
<!--              <p class="card-text"></p>-->
<!--              <a class="card-link" [routerLink]="['/blog', blog.id]">Link</a>-->
<!--              <p>{{ blog.category }}</p>-->
<!--              <button-->
<!--                (click)="btnClicked(blog)"-->
<!--                [ngClass]="{ white: blog.liked, blue2: !blog.liked }"-->
<!--                class="likedBtn"-->
<!--                id="btn"-->
<!--              >-->
<!--                <span id="likeIcon"><i class="fas fa-thumbs-up"></i></span>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
<!--  <section>-->
<!--    <div class="container">-->
<!--      <h2>Zdravie Blogy</h2>-->
<!--      <div class="row">-->
<!--        <div-->
<!--          class="col-lg-4 col-md-12 mb-4"-->
<!--          *ngFor="let blog of zdravieBlogs.slice(0, 3)"-->
<!--        >-->
<!--          <div class="card mb-4 box-shadow rounded-0">-->
<!--            <img-->
<!--              class="card-img-top w-100 d-block rounded-0"-->
<!--              src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg"-->
<!--            />-->
<!--            <div class="card-body">-->
<!--              <h4 class="card-title" [innerHTML]="blog.name | safeHtml"></h4>-->
<!--              <h6 class="text-muted card-subtitle mb-2">{{ blog.author }}</h6>-->
<!--              <p-->
<!--                class="dark-grey-text text"-->
<!--                [innerHTML]="blog.content | safeHtml"-->
<!--                ng-maxlength="20"-->
<!--              ></p>-->
<!--              <p class="card-text"></p>-->
<!--              <a class="card-link" [routerLink]="['/blog', blog.id]">Link</a>-->
<!--              <p>{{ blog.category }}</p>-->
<!--              <button-->
<!--                (click)="btnClicked(blog)"-->
<!--                [ngClass]="{ white: blog.liked, blue2: !blog.liked }"-->
<!--                class="likedBtn"-->
<!--                id="btn"-->
<!--              >-->
<!--                <span id="likeIcon"><i class="fas fa-thumbs-up"></i></span>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
<!--  <section>-->
<!--    <div class="container">-->
<!--      <h2>Kultura Blogy</h2>-->
<!--      <div class="row">-->
<!--        <div-->
<!--          class="col-lg-4 col-md-12 mb-4"-->
<!--          *ngFor="let blog of kulturaBlogs.slice(0, 3)"-->
<!--        >-->
<!--          <div class="card mb-4 box-shadow rounded-0">-->
<!--            <img-->
<!--              class="card-img-top w-100 d-block rounded-0"-->
<!--              src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg"-->
<!--            />-->
<!--            <div class="card-body">-->
<!--              <h4 class="card-title" [innerHTML]="blog.name | safeHtml"></h4>-->
<!--              <h6 class="text-muted card-subtitle mb-2">{{ blog.author }}</h6>-->
<!--              <p-->
<!--                class="dark-grey-text text"-->
<!--                [innerHTML]="blog.content | safeHtml"-->
<!--                ng-maxlength="20"-->
<!--              ></p>-->
<!--              <p class="card-text"></p>-->
<!--              <a class="card-link" [routerLink]="['/blog', blog.id]">Link</a>-->
<!--              <p>{{ blog.category }}</p>-->
<!--              <button-->
<!--                (click)="btnClicked(blog)"-->
<!--                [ngClass]="{ white: blog.liked, blue2: !blog.liked }"-->
<!--                class="likedBtn"-->
<!--                id="btn"-->
<!--              >-->
<!--                <span id="likeIcon"><i class="fas fa-thumbs-up"></i></span>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
<!--  <section>-->
<!--    <div class="container">-->
<!--      <h2>Priroda Blogy</h2>-->
<!--      <div class="row">-->
<!--        <div-->
<!--          class="col-lg-4 col-md-12 mb-4"-->
<!--          *ngFor="let blog of prirodaBlogs.slice(0, 3)"-->
<!--        >-->
<!--          <div class="card mb-4 box-shadow rounded-0">-->
<!--            <img-->
<!--              class="card-img-top w-100 d-block rounded-0"-->
<!--              src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg"-->
<!--            />-->
<!--            <div class="card-body">-->
<!--              <h4 class="card-title" [innerHTML]="blog.name | safeHtml"></h4>-->
<!--              <h6 class="text-muted card-subtitle mb-2">{{ blog.author }}</h6>-->
<!--              <p-->
<!--                class="dark-grey-text text"-->
<!--                [innerHTML]="blog.content | safeHtml"-->
<!--                ng-maxlength="20"-->
<!--              ></p>-->
<!--              <p class="card-text"></p>-->
<!--              <a class="card-link" [routerLink]="['/blog', blog.id]">Link</a>-->
<!--              <p>{{ blog.category }}</p>-->
<!--              <button-->
<!--                (click)="btnClicked(blog)"-->
<!--                [ngClass]="{ white: blog.liked, blue2: !blog.liked }"-->
<!--                class="likedBtn"-->
<!--                id="btn"-->
<!--              >-->
<!--                <span id="likeIcon"><i class="fas fa-thumbs-up"></i></span>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
<!--  <div class="container"></div>-->

<div class="blog">
  <header>

    <div class="p-5 text-center bg-white" style="margin-top: 58px">
      <h1 class="my-1 h4">Yellowstonský národný park</h1>
    </div>
  </header>

  <main class="my-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-4">
      
          <section id="post" class="border-bottom mb-4">
            <img
              src="assets/img/img1.jpg"
              alt="Feature image"
              class="img-fluid shadow-2-strong rounded mb-4"
            />
            <div class="row align-items-center mb-4">
              <div class="col-md-6 text-center text-lg-left mb-3 m-lg-0">
                <img
                  src="https://i.imgur.com/X7AWTcL.jpeg"
                  class="rounded shadow-1-strong mr-2"
                  height="35"
                />
                <span>Uverejnené <u>24.03.2022</u></span>
                <a href="#" class="text-dark"> Šimon Kvašňovský</a>
              </div>
              <div class="col-md-6 text-center text-lg-right">
  
              </div>
            </div>
          </section>
          <section id="content" class="border-bottom mb-4">
            <p>
              <strong>Yellowstonský národný park</strong>  je americký národný park, ktorý sa nachádza v štátoch
             Wyoming, Montana a Idaho. Je to najstarší národný park na svete (od 1. marca 1872) a
              rozprestiera sa na rozlohe 8 980 km², z väčšej časti na severozápade štátu Wyoming. 
              Park je známy najmä množstvom svojich gejzírov, horúcich prameňov a iných geotermálnych objektov.
               Je najväčším sústredením gejzírov na Zemi (viac ako 200). Je domovom medveďov grizly, vlkov, bizónov a losov.
                Tento park je jadrom väčšieho yellowstonského ekosystému, jedného z najväčších nedotknutých prírodných ekosystémov na našej planéte.
                 8. septembra 1978 OSN vyhlásila park za svetové dedičstvo.
            </p>

            <p><strong>Geologický vývoj</strong></p>

            <p>
              Yellowstonské vulkanické pole sa vyvinulo počas troch fáz vulkanickej aktivity. Najstarší cyklus sa odohral pred 2,1 mil. rokov, jeho pozostatky predstavujú masívne uloženiny tufov formácie Huckleberry Ridge Tuff s objemom cez 2 450 km³.
            </p>

            <p class="note note-light">
              <strong>Zaujímavosť:</strong> Pod istou časťou národného parku sa nachádza jedna z najväčších aktívnych sopiek na svete. Prvá veľká erupcia sopky Yellowstone prebehla pred 2,1 miliónmi rokov a popolom pokryla viac ako 6 tisíc kilometrov štvorcových.
            </p>

            <p>
              Najznámejší gejzír v Yellowstone a na celom svete je Old Faithful Geyser. Rovnako ako Castle Geyser, Lion Geyser a Beehive Geyser, nachádza sa v Upper Geyser Basin. V parku sa taktiež nachádza najväčší činný gejzír sveta - Steamboat Geyser, ktorý sa nachádza v Norris Geyser Basin. V národnom parku sa nachádza vyše 300 gejzírov a 10 000 geotermálnych oblastí. Polovica geotermálnych oblastí a dve tretiny gejzírov na Zemi sú práve v Yellowstonskom národnom parku.
            </p>

            <img
              src="assets/img/img2.jpg"
              class="img-fluid shadow-1-strong rounded mb-4"
              alt=""
            />

            <ul>
              <li>Lorem</li>
              <li>Ipsum</li>
              <li>Dolor</li>
              <li>Sit</li>
              <li>Amet</li>
            </ul>

            <p><strong>Chceli by ste navštíviť Yelowstonský park ?</strong></p>

            <p>
              Park má päť vstupných miest, no niektoré sú v zime pre vozidlá uzavreté. Akonáhle sa na letnú sezónu otvoria všetky cesty, ľudia môžu vstupovať do parku 24 hodín denne, sedem dní v týždni. Cesta medzi horúcimi prameňmi Mammoth a severovýchodnom vchodom je otvorená vždy. Poskytuje teda celoročný prístup do údolia Lamar, ktoré je vhodným miestom na kempovanie, pešiu turistiku, rybolov či lyžovanie.
              Sedemdňový preukaz na vstup do parku stojí 30 $ (súkromné ​​vozidlo), zakúpiť možno ale aj individuálny preukaz za 15 $ na osobu staršiu ako šestnásť rokov.

Počasie v Yellowstonskom parku sa môže niekoľkokrát zmeniť aj počas jediného dňa. V lete môžu denné maximá prekročiť 25 °C. V zimných mesiacoch tu často sneží a teploty klesajú pod nulu, najmä v noci. Pre všetky prípady si so sebou vezmite dostatok oblečenia, vrátane teplej a nepremokavej bundy. Verte, že sa môže hodiť aj v lete.
            </p>
          </section>
        </div>
      </div>
    </div>
  </main>
</div>

