<header style="margin-top: 50px;">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div class="container">
          <div class="col-md-6 p-5">
              <h1 class="display-4 fst-italic">
                  Populárny blog
              </h1>
              <p class="lead my-3">
                  samozrejme nejaký popis populárneho blogu
              </p>
              <p class="lead mb-0">
                  <a href="#" class="text-white fw-bold">
                      Pokračovať v čítaní...
                  </a>
              </p>
          </div>
      </div>
  </div>

</header>