
<ul class="class">
    <h2 class="maintitles">My Blogs</h2>
    <li class="pancake">Pancake recipe.</li>
    <li class="doctors">Visiting the doctors.</li>
    <li class="plane">Flying with a plane.</li>
    <li class="workouts">Best workouts to do at home.</li>
    
    <h2 class="maintitles">My Favourites</h2>  
    <li class="paris">Things to do in Paris.</li>
    <li class="procrastinating">How to stop procrastinating?.</li>
    <li class="soup">How to make a good soup.</li>
    <li class="food">Best food that I ever had.</li>
</ul>
